<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="css/socialMedia.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <title>Social Media</title>
</head>

<body style="background-color: #000000;">
    <nav class="navbar navbar-light bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="img/feg-logo.png" alt="Far East Gaming logo" height="24"
                    class="d-inline-block align-text-top">
                <span id="navtitle">Postgame Graphics Generator</span>
            </a>
            <div id="actions">
                <a class="nav-item nav-link" href="#" id="download">Download Winner</a>
                <a class="nav-item nav-link" href="#" id="download">Download Loser</a>
            </div>
        </div>
    </nav>
    <div id="post-winner" class='post'>
        <div id="left">
            <div id="tornament-info">
                <p id="tournament"><%=data.tournament%></p></p>
                <p id="phase"><%=data.matchPhase%></p>
            </div>
            <div id="teamLogo">
                <img src="uploads/<%=data.winnerTeamLogo%>" alt="Winner Team logo">
            </div>
            <p id="teamName"><%=data.winnerTeamName%></p>
            <div id="leagueLogo">
                <img src="img/feg-logo.png" alt="Tournament Logo">
            </div>
        </div>
        <div id="right">
            <div id="title">
                <h1 id="result">WINNER</h1>
                <h2 id="result-spanish">Ganador</h2>
            </div>
            <div id="teamMembers">
                <% for (var i=0; i < 5; i++ ) { %>
                    <div class="player">
                        <p class="username"><%=data.ganador.seleccion[i]%></p>
                        <div class="champion">
                            <img src="https://ddragon.leagueoflegends.com/cdn/11.23.1/img/champion/<%= data.ganador.seleccion[i] %>.png" alt="<%=data.ganador.seleccion[i]%>">
                        </div>
                    </div>
                <% } %>
            </div>
            <div id="stats">
                <div class="stat" id="dragones">
                    <div class="stat-img">
                        <img src="img/dragon.png" alt="Dragon">
                        <div class="line"></div>
                    </div>
                    <p class="stat-title">Dragones</p>
                    <p class="stat-result"><%=data.ganador.dragon%></p>
                </div>
                <div class="stat" id="kills">
                    <div class="stat-img">
                        <img src="img/asesinatos.png" alt="Asesinatos">
                        <div class="line"></div>
                    </div>
                    <p class="stat-title accent">Asesinatos</p>
                    <p class="stat-result accent"><%=data.ganador.kda.kills%></p>
                </div>
                <div class="stat" id="barones">
                    <div class="stat-img">
                        <img src="img/baron.png" alt="Barones">
                        <div class="line"></div>
                    </div>
                    <p class="stat-title">Barones</p>
                    <p class="stat-result"><%=data.ganador.baron%></p>
                </div>
                <div class="stat" id="torres">
                    <div class="stat-img">
                        <img src="img/torre.png" alt="Torres">
                        <div class="line"></div>
                    </div>
                    <p class="stat-title accent">Torres</p>
                    <p class="stat-result accent"><%=data.ganador.torre%></p>
                </div>
                <div class="stat" id="heraldos">
                    <div class="stat-img">
                        <img src="img/heraldo.png" alt="Heraldos">
                        <div class="line"></div>
                    </div>
                    <p class="stat-title">Heraldos</p>
                    <p class="stat-result">23</p>
                </div>
            </div>
        </div>
    </div>
    <div id="post-loser" class='post'>
        <div id="left">
            <div id="tornament-info">
                <p id="tournament">
                    <%=data.tournament%>
                </p>
                </p>
                <p id="phase">
                    <%=data.matchPhase%>
                </p>
            </div>
            <div id="teamLogo">
                <img src="uploads/<%=data.loserTeamLogo%>" alt="Loser Team logo">
            </div>
            <p id="teamName">
                <%=data.loserTeamName%>
            </p>
            <div id="leagueLogo">
                <img src="img/feg-logo.png" alt="Tournament Logo">
            </div>
        </div>
        <div id="right">
            <div id="title">
                <h1 id="result">Loser</h1>
                <h2 id="result-spanish">Perdedor</h2>
            </div>
            <div id="teamMembers">
                <% for (var i=0; i < 5; i++ ) { %>
                    <div class="player">
                        <p class="username">
                            <%=data.perdedor.seleccion[i]%>
                        </p>
                        <div class="champion">
                            <img src="https://ddragon.leagueoflegends.com/cdn/11.23.1/img/champion/<%= data.perdedor.seleccion[i] %>.png"
                                alt="<%=data.perdedor.seleccion[i]%>">
                        </div>
                    </div>
                    <% } %>
            </div>
            <div id="stats">
                <div class="stat" id="dragones">
                    <div class="stat-img">
                        <img src="img/dragon.png" alt="Dragon">
                        <div class="line"></div>
                    </div>
                    <p class="stat-title">Dragones</p>
                    <p class="stat-result">
                        <%=data.perdedor.dragon%>
                    </p>
                </div>
                <div class="stat" id="kills">
                    <div class="stat-img">
                        <img src="img/asesinatos.png" alt="Asesinatos">
                        <div class="line"></div>
                    </div>
                    <p class="stat-title accent">Asesinatos</p>
                    <p class="stat-result accent">
                        <%=data.perdedor.kda.kills%>
                    </p>
                </div>
                <div class="stat" id="barones">
                    <div class="stat-img">
                        <img src="img/baron.png" alt="Barones">
                        <div class="line"></div>
                    </div>
                    <p class="stat-title">Barones</p>
                    <p class="stat-result">
                        <%=data.perdedor.baron%>
                    </p>
                </div>
                <div class="stat" id="torres">
                    <div class="stat-img">
                        <img src="img/torre.png" alt="Torres">
                        <div class="line"></div>
                    </div>
                    <p class="stat-title accent">Torres</p>
                    <p class="stat-result accent">
                        <%=data.perdedor.torre%>
                    </p>
                </div>
                <div class="stat" id="heraldos">
                    <div class="stat-img">
                        <img src="img/heraldo.png" alt="Heraldos">
                        <div class="line"></div>
                    </div>
                    <p class="stat-title">Heraldos</p>
                    <p class="stat-result">23</p>
                </div>
            </div>
        </div>
    </div>
    
</body>

</html>